{% extends "storeapp/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<form action="" method="post" autocomplete="off" >
    <div class="row col-md-6" style="color: rgb(11, 59, 59); font-weight: 200; font-family: Comic Sans MS; ">
        <p>
            Tabelul Produse:
        </p>
    </div>
    {%csrf_token%}
    {{form|crispy}}
    
    <div class="row">
        <div class="col-md-8">
            <button type="submit" class="btn btn-success btn-block btn-lg" >
                <i class="fas fa-database"></i> Submit </button>
        </div>
        <div class="col-md-4">
            <a href="{% url 'produse_list' %}" class="btn btn-secondary btn-block btn-lg">
            <i class="fas fa-stream"></i> Lista de produse </a>
        </div>
    </div>
    
</form>
{% endblock content %}
